<!doctype html>
<html>
  <head>
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC5YdLno58mxuVsio3V3yg5lW7KDz_xEg0"></script>
    <script type="text/javascript" src="https://google-maps-utility-library-v3.googlecode.com/svn/trunk/geolocationmarker/src/geolocationmarker-compiled.js"></script>
    <link rel='stylesheet' type='text/css' href='/static/style.css'></link>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script type='text/javascript' src='/static/helpers.js'></script>
    <script type='text/javascript' src='/static/map.js'></script>
  </head>

  <body>
    <div id='map-canvas'></div>
  </body>
